:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6b7280;
  --light: #eee;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --yellow: #ffd301;
  --orange: #ff5f00;
  --green: #04ecd4;
  --blue: #04b8e4;
}

#navbar,
#page {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
}
#page div {
  border: 1px solid transparent;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px;
}
#page div:hover {
  border: rgb(236, 149, 35);
  background-color: rgb(236, 149, 35);
}
#page {
  border: 2px solid var(--gray);
  flex-direction: row;
  border-radius: 25px;
  justify-content: space-between;
  justify-content: space-around;
  width: 96%;
}
#homepageicon {
  width: 40px;
}
/* #page a {
  text-decoration: none;
  color: black;
} */
h1 {
  text-align: center;
}
table tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 7%;
  margin-right: 7%;
}
#usercontainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 1px dashed var(--light);
  padding: 15px;
}

#usercontainer h1 {
  text-align: center;
  margin-bottom: 25px;
}

#editPfp {
  text-align: center;
}

#output {
  width: 100px;
  border: 3px solid white;
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#goalsPageBtn {
  width: 100px;
  height: 35px;
  transform: skew(20deg);
  background: #ffffff;
  font-size: 20px;
}

#progressPageBtn {
  width: 100px;
  height: 35px;
  transform: skew(20deg);
  background: #ffffff;
  font-size: 20px;
}

#badges {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding: 2%;
  margin: 3%;
}

#AllGoalsDone {
  width: 28%;
}

#Share {
  width: 28%;
}

#Streak {
  width: 28%;
}
#Planner {
  width: 28%;
}
body {
  background-color: var(--dark);
  color: var(--light);
}
#navbar {
  box-sizing: border-box;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#navbar a {
  font-family: "Fira sans", sans-serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

p {
  font-size: 25px;
}

.orange {
  color: var(--orange);
}

.bluegradient {
  background-image: linear-gradient(to right, var(--blue), var(--green));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#usercontainer h2 {
  text-align: center;
  font-size: 30px;
}
body {
  display: grid;
  height: 100vh;
  place-items: center;
  background: #243b47;
}

.dashboard {
  display: flex;
}

svg {
  width: 114px;
  height: 114px;
  margin-left: auto;
  margin-right: auto;
}

.bg {
  fill: none;
  stroke-width: 10px;
  stroke: #1a2c34;
}

[class^="meter-"] {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.meter-2 {
  stroke: #ad9100;
  stroke-dasharray: 360;
  animation: progress-2 6s ease-out;
  stroke-opacity: 0.9;
}

@keyframes progress-2 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 80;
  }
}
body {
  overflow: hidden;
}
.half-arc {
  position: relative;
  width: 200px;
  height: 100px;
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  border-bottom: 0;
  background: #f17e3c;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.label{
  margin-top: 60px;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}
.half-arc:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  border-radius: 10%;
  background-image: conic-gradient(
    #fcc213,
    #f6a32d calc(var(--percentage, 0) / 2),
    #f17e3c 0
  );
  transition: transform 0.5s ease-in-out;
  z-index: 1;
  transform: rotate(270deg);
}

.half-arc:after {
  content: "";
  position: absolute;
  display: block;
  background: #243b47;
  z-index: 2;
  width: calc(100% - 32px);
  height: calc(200% - 32px);
  border-radius: 50%;
  top: 16px;
  left: 16px;
}

.half-arc span {
  color: #f17e3c;
  z-index: 3;
  text-align: center;
}
