:root{
  --dark: #374151;
  --darker: #1F2937;
  --darkest: #111827;
  --gray: #6B7280;
  --light: #EEE;
  --pink: #EC4899;
  --purple: #8B5Cf6;
  --yellow: #FFD301;
  --orange: #FF5F00;
  --green: #04ecd4;
  --blue:  #04b8e4;
}


#navbar,
#page {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
}
#navbar{
  margin-top: 10px;
  margin-bottom: 30px;
}
#page div{
    border: 1px solid transparent;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
}
#page div:hover {
  border: 1px solid  rgb(236, 149, 35);
  background-color: rgb(236, 149, 35);
}
#page {
  border: 2px solid var(--gray);
  flex-direction: row;
  border-radius: 25px;
  justify-content: space-between;
  justify-content: space-around;
  width: 96%;
}
#homepageicon {
  width: 40px;
}
#page a {
  text-decoration: none;
}
h1 {
  text-align: center;
  color: var(--light)
}
#chartContainer {
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  justify-content: space-between;
}
body{
  background-color: #374151;;
}
#everything{
  width: 1000px;
  height:min-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
#navbar{
  margin-left: auto;
  margin-right:auto;
  width: 90%;
  box-sizing: border-box;
}
#navbar a{
  font-size: 16px;
  font-family: "Fira sans", sans-serif;
  color: var(--light)
}
.button-85 {
  display: flex;
  background-color: #f6a32d;
  flex-direction: column;
  width: 140px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  border-radius: 300px;
}
.button-85 div {
  padding: 5%;
}
.button-85 h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #1f2937;
}
/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 300px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 1.5rem;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #f17e3c,
    #fcc213,
    #f6a32d,
    #ec523c,
    #ec603c,
    #f48c44,
    #f48c44,
    #f48040,
    #f48040
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 300px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: dimgray;
  left: 0;
  top: 0;
  border-radius: 300px;
}
.button-87 {
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 300px;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-85 p{
  text-align: center;
}
#myProgress {
  width: 100%;
  background-color: black;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #f09819;
}
.dayPercent{
  text-align: center;
}

.orange{
  background-image: linear-gradient(to right, #f8ae23, #ec4c3c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}